# dependencies
node_modules/

# next.js build output
.next/
out/

# testing
playwright-report/
test-results/
*.spec.ts-snapshots/

# build cache
*.tsbuildinfo
tsconfig.tsbuildinfo

# misc
.DS_Store
.env
.env.local
.env.production.local
*.log
